@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/* Reset de propriedades */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Mobile First - CSS do mobile */

body {
  color: gray;
  font-family: "Open Sans", Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 5px 5px 0 5px;
  background-color: black;
}

header i {
  font-size: 2rem; /*32px*/
  color: white;
}

header label {
  padding-top: 5px;
}

header img {
  margin-right: calc(50% - 44.15px);
  height: 50px;
}

#menu {
  display: none;
}

header input:checked ~ nav {
  display: flex;
}

header nav {
  display: none;
  flex-direction: column;
  position: absolute;
  padding-bottom: 3px;
  top: 55px;
  left: 0px;
  width: 100%;
  align-items: center;
  background-color: black;
}

header a {
  text-align: center;
  text-decoration: none;
  color: white;
  width: 90%;
}

header a:hover {
  background-color: orangered;
  border-radius: 5px;
}

main {
  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

#sessao-principal {
  display: flex;
  flex-direction: column;
  /* padding: 0px 5px; */
  border-bottom: 1.5px dotted grey;
}

#sessao-principal figure {
  display: flex;
  justify-content: center;
  /* padding: 15px 0; */
}

#sessao-principal figure img {
  height: 150px;
  margin-left: -20px;
}

article {
  font-size: 0.8rem;
}

#sessao-principal article h1 {
  color: orangered;
  margin-top: 15px;
  font-size: 1.5rem;
  width: 80%;
}

#sessao-principal p {
  margin-top: 15px;
  width: 90%;
}

#sessao-principal a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin: 15px 0px;
  text-align: center;
  background-color: orangered;
  color: white;
  border-radius: 5px;
}

#produtos {
  margin-top: 15px;
  border: 1px solid gray;
}

#produtos article h2 {
  background-color: orangered;
  color: white;
  padding-left: 10px;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 1.2rem;
}

#produtos img {
  float: left;
  margin: 10px;
}

#produtos p {
  padding: 10px;
}

footer {
  background-color: black;
  margin-top: 20px;
  padding-left: 5px;
}

footer img {
  width: 30px;
  margin-top: -15px;
}

footer p {
  text-align: center;
  font-size: 0.8rem;
  margin: 0 auto;
  width: 80%;
}

@media screen and (min-width: 768px) {
  figure {
    display: flex;
    justify-self: left;
  }
  header i {
    display: none !important;
    /* font-size: 2rem;
    color: white; */
  }
  header nav {
    display: inline;
  }

  header nav a {
    text-decoration: none;
    color: white;
  }
  header nav a:hover {
    background-color: #eb5929;
    padding: 8% 0px;
    border-radius: 0 0 5px 5px;
  }
}
